mixin project(title, imgSrcs, styling)
	div(class="img-container #{styling}")
		.wrap
			picture
				if (imgSrcs.mobile)
					source(media="(max-width: 575px)" srcset="#{imgSrcs.mobile}")

				img(src="#{imgSrcs.default}", alt="Foto de #{title}")

			._overlay.hover-touch
				p.t1
					for n in title
						span.mask.inline.lh1
							span._text= n